<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".WardenSelectActivity" />
        <activity android:name=".FaSelectActivity" />
        <activity android:name=".WardenViewMsgActivity" />
        <activity android:name=".FaViewMsgActivity" />
        <activity android:name=".WrSendMsgActivity" />
        <activity android:name=".FaSendMessageActivity" />
        <activity android:name=".ShowMsgsFromFaActivity" />
        <activity android:name=".MessageFromFaActivity" />
        <activity android:name=".MessageToFaActivity" />
        <activity android:name=".MessageFromWardenActivity" />
        <activity android:name=".MessageToWardenActivity" />
        <activity android:name=".ParentSelectActivity" />
        <activity android:name=".WardenLoginActivity" />
        <activity android:name=".FaLoginActivity" />
        <activity android:name=".ParentLoginActivity" />
        <activity android:name=".ParentRegistrationActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>